html {
    height: 100vh;
    background-image: linear-gradient(135deg, #3B2667 10%, #BC78EC 100%);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: #3d3d3d;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: 'flex',
}

.app-header {
    width: 100%;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 240px;
    color: #fff;
    background-color: #242943;
    top: 0;
    left: auto;
    right: 0;
    position: absolute;

    section {
        padding-left: 24px;

        .title {
            display: inline-block;
            padding-left: 1em;
        }
    }
}

.grid-container {
    position: relative;
    left: 50%;
    float: left;

    .grid {
        position: relative;
        left: -50%;
        margin: 50px;
        float: left;
    }
}

.full-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.opacity80 {
    background-color: #333333;
    opacity: 0.8;
}

.page-container {
    padding-top: 70px;
    width: 100vw;
}

.container {
    padding: 0 20px;
    position: relative;
}

.full-width {
    width: 100%;
}

.ta-center {
    text-align: center;
}

@import './sidebar';
@import './hamburgerMenu';
@import './corpus';
@import './grineer';